{% extends 'Contractor_index.html'%} {% load static %} {% block content %}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Active Workers</h4>
            <div class="form-group">
                <input type="text" class="form-control" onkeyup="myFunction()" id="search" name="search" autocomplete="off" placeholder="Search...">
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Worker ID</th>
                            <th>Worker Name</th>
                            <th>Worker Type</th>
                            <th>Skills</th>
                            <th>Experience</th>
                            <th>Address1</th>
                            <th>Address2</th>
                            <th>City and Pin</th>
                            <th>Aadhar No</th>
                            <th>Cost days/Hrs</th>
                            <th>Status</th>
                            <th>Update</th>
                            <th>Feedback</th>
                            <th>ViewFeedback</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for i in contractordetails %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>
                                <img src="{{ i.photo.url }}" alt="image" />
                                <span class="ps-2">{{ i.fullname }}</span>
                            </td>
                            <td>{{ i.worktype }}</td>
                            <td>{{ i.skills }}</td>
                            <td>{{ i.experience }}</td>
                            <td>{{ i.address1 }}</td>
                            <td>{{ i.address2 }}</td>
                            <td>{{ i.cityandpin }}</td>
                            <td>{{ i.aadharno }}</td>
                            <td>{{ i.costdayshrs }}</td>
                            <td>{{ i.status }}</td>
                            <td><a href="{% url 'Contractor_UpdateWorkDetails' %}"><button class="btn btn-primary">Update</button></a></td>
                            <td><button class="btn btn-danger" data-toggle="modal" data-target="#myModal{{i.id}}">Give Feedback</button></td>
            <td><button type="button" class="btn btn-sm mx-1 text-light" data-toggle="modal" data-target="#myModal1{{i.id}}" style="background: rgb(65, 3, 3)"
                                                data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                <i class="mdi mdi-comment-multiple-outline"></i>Previous Feedbacks</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% for i in contractordetails %}
<div class="modal" id="myModal{{i.id}}" >
    <div class="modal-dialog">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 grid-margin stretch-card bg-dark text-light modal-content">

            <!-- Modal Header -->
            <div class="modal-header" >
                <h4 class="modal-title">Feedback about {{ i.fullname }}</h4>
                <button type="button " class="close" style="color:black;"
                    data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" >
                <form action="{% url 'con_feedback' i.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-body" >
                            <div class="row p-3">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
                                    <textarea class="col-12 col-sm-12 col-md-12 col-lg-12 form-control  text-dark"
                                        style="height: 100px; background-color:white; " name="feedback"
                                        rows="4"> </textarea>
                                </div>
                            </div>
                            <br>
                            <div  style="float:right;padding-bottom:20px;">
                                <button type="submit" 
                                    class="btn btn-outline-primary btn-icon-text ">
                                    <i class="text-primary mdi mdi-send btn-icon-prepend"></i>
                                    Send
                                </button>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
            
        </div>
    </div>
</div>
{% endfor %}
{% for i in contractordetails %}
<div class="modal" id="myModal1{{i.id}}" >
    <div class="modal-dialog">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 grid-margin stretch-card bg-dark text-light modal-content">

            <!-- Modal Header -->
            <div class="modal-header" >
                <h4 class="modal-title">Feedbacks of {{ i.fullname }}</h4>
                <button type="button " class="close" style="color:black;"
                    data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" >
                <div class="card">
                    <div class="card-body" >
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Reported By</th>
                                        <th>Reporter designation</th>
                                        <th>Feedback</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for j in fed %}
                                    {% if i.id == j.user.id %}
                                    <tr>
                                        <td>{{ j.reporterid.fullname }}</td>
                                        <td>{{ j.reporterid.designation }}</td>
                                        <td>{{ j.feedback }}</td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}