{% extends 'Worker_index.html'%} {% load static %} {% block content %}

      <div class="row">

        <div class="col-md-10 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title" >Add Work Details</h4><br><br>

              <form class="forms-sample"  method="POST" action="{% url 'Worker_AddWorkDetailssave' Wkr_id %}" enctype="multipart/form-data">
              {% csrf_token %}
                <!-- <div class="form-group row">
                  <label for="exampleInputWorkerId" class="col-sm-3 col-form-label text-dark font-weight-normal">Worker ID</label>
                  <div class="col-sm-9">
                    <input type="text" name="id" class="form-control" id="exampleInputWorkerId"  required>
                  </div>
                </div> -->
                 <div class="form-group row">
                  <label for="exampleInputEmail" class="col-sm-3 col-form-label text-dark font-weight-normal">Worker Name</label>
                  <div class="col-sm-9">
                    <input type="text" name="workername" class="form-control" id="exampleInputEmail" autocomplete="off" required>
                  </div>
                </div>
                <div class="form-group row">
                    <label for="exampleInputEmail" class="col-sm-3 col-form-label text-dark font-weight-normal">Worker Type</label>
                    <div class="col-sm-9">
                      <input type="text" name="workertype" class="form-control" id="exampleInputEmail" autocomplete="off" required>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="exampleInputEmail" class="col-sm-3 col-form-label text-dark font-weight-normal">Skills</label>
                    <div class="col-sm-9">
                      <input type="text" name="skills" class="form-control" id="exampleInputEmail" autocomplete="off"  required>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="exampleInputEmail" class="col-sm-3 col-form-label text-dark font-weight-normal">Experience</label>
                    <div class="col-sm-9">
                      <input type="text" name="experience" class="form-control" id="exampleInputEmail" autocomplete="off"  required>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="exampleInputEmail" class="col-sm-3 col-form-label text-dark font-weight-normal">Address1</label>
                    <div class="col-sm-9">
                      <input type="text" name="address1" class="form-control" id="exampleInputEmail" autocomplete="off"  required>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="exampleInputEmail" class="col-sm-3 col-form-label text-dark font-weight-normal">Address2</label>
                    <div class="col-sm-9">
                      <input type="text" name="address2" class="form-control" id="exampleInputEmail" autocomplete="off"  required>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="exampleInputEmail" class="col-sm-3 col-form-label text-dark font-weight-normal">City and Pin</label>
                    <div class="col-sm-9">
                      <input type="text" name="cityandpin" class="form-control" id="exampleInputEmail" autocomplete="off"  required>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="exampleInputEmail" class="col-sm-3 col-form-label text-dark font-weight-normal">Mobile No</label>
                    <div class="col-sm-9">
                      <input type="text" name="mobile" class="form-control" id="exampleInputEmail" autocomplete="off"  required>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="exampleInputEmail" class="col-sm-3 col-form-label text-dark font-weight-normal">Aadhar No</label>
                    <div class="col-sm-9">
                      <input type="text" name="aadharno" class="form-control" id="exampleInputEmail"  autocomplete="off" required>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="exampleInputEmail" class="col-sm-3 col-form-label text-dark font-weight-normal">Cost days/Hrs</label>
                    <div class="col-sm-9">
                      <input type="text" name="costdayshrs" class="form-control" id="exampleInputEmail" autocomplete="off"  required>
                    </div>
                  </div>

                <center>

                <button type="submit" class="btn btn-primary mr-2" >Submit</button></center>
                
              </form>
            </div>
          </div>
        </div>

    <!-- partial -->
  </div>
  <!-- main-panel ends -->
  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if msg_success %}
    <script>
        Swal.fire({
            position: 'center',
            icon: 'success',
            text: '{{ msg_success }}',
            showConfirmButton: false,
            timer: 3000
        }).then(function () {
            javascript: history.go(-2);
        })
        
    </script>
    {% endif %}


{% endblock %}